.text {
    font-family: 'Cabin';
}

#logo {
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 4px 4px rgba(60, 50, 180, 0.8);
    box-sizing: border-box;
}

#logo-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

body {
    background: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.grid-div {
    margin: 15px;

    display: grid;
    grid-template-columns: auto 60% 1fr;
    grid-template-rows: auto auto 80%;
    grid-template-areas:
        "site-title    .        ."
        "sidebar  textbox  friends-list-div"
        "sidebar  textbox  friends-list-div";
}

.grid-div .text, .site-title {
    display: flex;
    justify-content: center;
    align-content: center;

    width: fit-content;
    box-sizing: border-box;
    border-radius: 15px;

    color: rgb(255, 255, 215);
    padding: 15px;
    background: rgba(0, 20, 80, 0.6);
    box-shadow: 0px 6px rgba(30, 0, 60, 0.8);
}

.form-control {
    background: rgb(193 218 255) !important
}

.sidebar, .site-title, .friends-list-div {
    padding: 30px;
    border-radius: 10px;
    background: rgba(100, 100, 200, 0.2);
    width: fit-content;
    height: fit-content;
}

.game-crud-buttons-div {
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0px;
    top: 0px;
}
.game-crud-buttons-div .game-crud-button {
    color: white;
}

.game-photo {
    box-sizing: border-box;
    border-radius: 15px;

    overflow: hidden;

    margin-right: 15px;
    align-self: center;
}
.game-photo img {
    box-sizing: border-box;
    border-radius: 15px;
}
.game-photo:hover img
{
    transform: scale(1.125) translate(+4%, +4%);
}
.game-photo img
{
    transition: transform 0.5s ease;
    transform-origin: right bottom;
}

.game-div {
    position: relative;

    display: flex;
    flex-direction: row;

    background: rgba(0, 10, 40, 0.6);

    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 6px rgba(0, 0, 20, 0.8);

    font-size: 28px;

    margin-bottom: 16px;
}

.game-texts {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.game-texts .game-title {
    background: rgba(0, 80, 120, 0.6);
}
.game-texts .game-desc {
    font-size: 20px;

    flex: 1;
    margin-bottom: 0;

    width: auto;
    justify-content: start;
}

.game-price {
    position: absolute;
    bottom: 0px;
    left: 0px;

    box-sizing: border-box;
    border-radius: 15px;

    background: rgba(0, 140, 80, 0.8);

    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 215);

    padding: 5px;
    margin: 0px;
}


.sidebar {
    grid-area: sidebar;
    margin: 30px 0 0 15px;
}

.site-title {
    grid-area: site-title;
    justify-self: center;
}

.textbox {
    grid-area: textbox;
    margin: 0 30px 0 30px;
}

.friends-list-div {
    grid-area: friends-list-div;
    margin: 30px 15px;

    justify-self: flex-end;
}

.main-div {
    margin-top: 5px;
    font-size: 30px;
}

.genre-list-top {
    display: flex;
    justify-content: center;
    align-content: center;

    width: fit-content;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    color: rgb(255, 255, 215);
    padding: 10px;
    background: rgba(0, 20, 80, 0.6);

    font-size: 18px;
    text-decoration: underline;
}
.genre-list {
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    color: rgb(255, 255, 215);
    padding: 15px;
    background: rgba(0, 20, 80, 0.6);
    box-shadow: 0px 6px rgba(30, 0, 60, 0.8);

    margin-top: -18px;
    padding-left: 40px;
}
.genre a {
    text-decoration: auto;
    color: rgb(150, 150, 255);
    margin-bottom: 16px;

    line-height: 2em;
}
.genre:hover a {
    color: rgb(225, 225, 255);
}

a:link {
    color: rgb(150, 150, 255);
}

a:visited {
    color: rgb(100, 90, 180);
}

.text-friends {
    font-size: 30px;
    margin-top: 0px;
}

#friends-panel
{
    display: flex;
    flex-direction: column;
    text-align: center;

    background: rgba(0, 60, 140, 0.6);
}

#friends-panel input
{
    background-color:rgba(0, 20, 80, 0.6);
    color: white;
}

.blue-button
{
    width: 100%;
    background-color: rgba(0, 150, 190, 0.6);
    border-radius: 10px;
    border:rgba(0, 200, 240, 0.6) solid 3px;
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    padding: inherit;
}

.blue-button:hover
{
    background-color: rgba(0, 200, 240, 0.6);
}

@media (max-width: 990px) {
    .grid-div {
        margin: 15px;

        display: grid;
        grid-template-columns: 70% 1fr;
        grid-template-rows: 90% 1fr;
        grid-template-areas:
            "textbox friends-list-div"
            "footer   .";
    }

    #logo {
        display: none;
    }

    .textbox {
        margin: 0;
    }

    .sidebar {
        display: none;
    }

    .grid-div .text {
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid-div {
        margin: 15px;

        display: block;
    }

    .friends-list-div {
        display: none;
    }
}