<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWBD Auction</title>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{'/developers'}">Developers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/developers/form'}">
                        <i class="fas fa-plus-circle"></i> Add Developer
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{/games}">
                        <i class="fas fa-home"></i> Back to main page
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Website</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="developer, stat : ${developerDtos}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${developer.id}">1</td>
            <td th:text="${developer.name}">Name</td>
            <td th:text="${developer.website}">Website</td>
            <td><a href="#" th:href="@{'/developers/edit/' + ${developer.id}}"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="#" th:href="@{'/developers/delete/' + ${developer.id}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>

    </table>
</div>

</body>
</html>