<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <link rel = "stylesheet" href = "/main-style.css">

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>

    <title> Steme&trade; </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <h1 class = "text site-title" id = "logo">
        <img id = "logo-img" src = "/logo.png" alt = "Steme Logo">
        Steme
    </h1>

    <div class="container textbox">
        <form method="post"
              th:action="${gameDto.id} != null
                            ? @{'/games/edit/' + ${gameDto.id}}
                            : @{'/games/new'}"
              th:object="${gameDto}">
            <input th:field="*{id}" type="hidden"/>
            <div class="container" style="margin-top: 50px">
                <div class="panel panel-default">
                    <div  class="panel-heading">
                        <h3> </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label th:for="genreIds" class="genre-list-top">Genres</label>
                                <ul class = "genre-list" id="genreIds" style="list-style: none;">
                                    <li class = "genre" th:each="genre: ${genreDtos}">
                                        <input th:field="*{genreIds}"
                                               th:value="${genre.id}"
                                               type="checkbox"
                                               th:checked="${gameDto.genreIds != null
                                                            and gameDto.genreIds.contains(genre.id)}"/>
                                        <label
                                                th:for="${#ids.prev('genreIds')}"
                                                th:text="${genre.name}">
                                        </label>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-5 ">
                                <div class="form-row">
                                    <input class="form-control" th:field="*{title}" type="text" placeholder="Game's title"/>
                                </div>
                                <br>
                                <div class="form-row">
                                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</label>
                                    <textarea class="form-control" th:field="*{description}" placeholder="Description"></textarea>
                                </div>
                                <br>
                                <div class="form-row">
                                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</label>
                                    <input class="form-control" th:field="*{price}" type="number" step="any" placeholder="Price"/>
                                </div>
                                <br>
                                <div class="form-row">
                                    <label th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Error</label>
                                    <input class="form-control" th:field="*{releaseDate}" type="date" placeholder="Release date"/>
                                </div>
                                <br>
                                <div class="form-row">
                                    <label th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Error</label>
                                    <select class="form-control" th:field="*{publisher.id}">
                                        <option value="">Publisher</option>
                                        <option th:each="publisherDto : ${publisherDtos}"
                                                th:value="${publisherDto.id}"
                                                th:text="${publisherDto.name}"
                                                th:selected="${gameDto.publisher != null and gameDto.publisher.id == publisherDto.id}">
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-row">
                                    <label th:if="${#fields.hasErrors('developer')}" th:errors="*{developer}">Error</label>
                                    <select class="form-control" th:field="*{developer.id}">
                                        <option value="">Developer</option>
                                        <option th:each="developerDto : ${developerDtos}"
                                                th:value="${developerDto.id}"
                                                th:text="${developerDto.name}"
                                                th:selected="${gameDto.developer != null and gameDto.developer.id == developerDto.id}">
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <div class = "d-flex justify-content-center">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>