<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <link rel = "stylesheet" href = "/main-style.css">

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>

    <title> Login - Steme&trade; </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>

    <div class="grid-div d-flex justify-content-center">
        <h1 class="text site-title" id="logo">
            <img id="logo-img" src="/logo.png" alt="Steme Logo">Steme
        </h1>
    </div>

    <div class="grid-div d-flex flex-column align-items-center mt-3">
        <div class="text flex-column mt-5">
            <form th:action="@{/login}" method="post">
                <h2 class="text text-sec w-100 p-2">Login</h2>
                <br>
                <div><input class="form-control" type="text" name="username" placeholder="Username"/></div>
                <div><input class="form-control mt-2" type="password" name="password" placeholder="Password"/></div>
                <br>
                <div class="container textbox">
                    <button class="blue-button" type="submit">Login</button>
                </div>
            </form>
        </div>

        <div class="text flex-column mt-5">
            <div class="text fst-italic">Don't have an account?</div>
            <div class="container textbox mt-2">
                <a href="/register" class="blue-button d-block w-100 text-center" id = "register-button">Register</a>
            </div>
        </div>
    </div>

</body>
</html>
