<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owned Games</title>
    <link rel="stylesheet" href="/main-style.css">
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center">Owned Games</h2>
    <div class="game-div" th:each="game : ${ownedGames}">
        <a th:href="@{'/games/' + ${game.id}}">
            <div class="game-photo"><img src="/game.png"/></div>
        </a>
        <div class="game-texts">
            <p class="game-title text" th:text="${game.title}"></p>
            <p class="game-desc text" th:text="${game.description}"></p>
            <p class="game-price" th:text="${game.price + '$'}"></p>
        </div>
    </div>
</div>
</body>
</html>
